body{
    background: white;
    font-family: "Rubik", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/*Intro*/
.intro {
    width: 100%;
    
}

/* Header */
.header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #D1A49E;
}

.header__inner {
    display: flex;
    justify-content: left;
    align-items:baseline;


}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-right: 30px;
}

/* Навигация */
.nav {
    font-size: 22px;
    font-weight: 500;
    
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color 0.2s linear;
}

.nav__link:hover {
    color: #ffdddd;
}