body{
    font-family: "Rubik", sans-serif;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #D1A49E;
    align-items: baseline;
}

.header__inner {
    display: flex;
    justify-content: left;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}

/* Навигация */
.nav {
    font-size: 22px;
    font-weight: 500;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 15px 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: 0.2s;
}

.nav__link:hover {
    transform: scale(1.05);
}

.url__link {
    padding: 7px 0;
    display: block;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0s;
}
.url__link:hover {
    transform: scale(1.05);
}

.url {
    position: absolute;
    top: 57px;
    left: 0;
    width: 150px;
    background-color: #D1A49E;
    display: none;
}   

.two_link {
    width: 100%;
}

._link:hover > .url{
    display: initial;
}

._link {
    position: relative;
    float: left;
}

.ikon {
  display: inline-block;
  margin: 0 7px;
  position: relative;
}