<header class="header">
    <div class="container">
        <div class="header__inner">
            <div><a class="header__logo" href="Главная.html">KeyDivide</a></div>
            <nav class="nav">
                <ul>
                    <li class="_link"><a class="nav__link" href="Главная.html#keyboards">Клавиатуры</a></li>
                    <li class="_link"><a class="nav__link" href="Главная.html#services">Услуги</a></li>
                    <li class="_link"><a class="nav__link" href="Главная.html#aboutus">О нас</a></li>
                    <li class="_link"><a class="nav__link" href="#">Соцсети</a>
                        <ul class="url">
                            <li class="two_link" style="margin-top: 10px;"><a class="url__link" href="https://discord.gg/PKZ8ejUB8Z" target="_blank">Discord</a></li>
                            <li class="two_link"><a class="url__link" href="https://vk.com/cacao_keyboards" target="_blank">Вконтакте</a></li>
                            <li class="two_link"><a class="url__link" href="https://www.youtube.com/@cacaoboards7930/featured" target="_blank">YouTube</a></li>
                        </ul>
                    </li>					
                </ul>   
            </nav>
        </div>
        <div style="flex-direction: row; display: flex; align-items: center;">
            <div id="authStatus"></div>
            <a class="ikon" id="account" href="Авторизация.html" title="Профиль"><img src="assets/images/аккаунт.png" width="26" height="24"></a>
            <a class="ikon" href="Корзина.html" title="Корзина"><img src="assets/images/корзина.png" width="26" height="26"></a>
        </div>
    </div>
</header>