body {
    font-family: "Rubik", sans-serif;
}

/*Container*/
.container {
    width: 100%;
    height: 58px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */
.header {
    height: 58px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #818181; /*  D1A49E #D9D9D9*/
    align-items: baseline;
}

.header_phone {
        display: none;
        height: 58px;
        width: 100%;
        position: fixed;
        z-index: 1000;
        background-color: #D1A49E;
        align-items: baseline;
    }

.header__inner {
    display: flex;
    justify-content: left;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}

/* Навигация */

.prod_count{
    display: flex;
    width: 18px; /* Задайте желаемую ширину */
    height: 18px; /* Задайте желаемую высоту */
    background-color: rgb(224, 68, 68); /* Задайте желаемый цвет */
    border-radius: 50%; /* Превращает квадрат в круг */
    position: absolute;
    left: 18px;
    bottom: 18px;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 12px;
}

.nav {
    margin-top: 5px;
    font-size: 21px;
    font-weight: 410;
}

.nav__link {
    display: flex;
    vertical-align: bottom;
    margin: 19px 18px;

    color: #fff;
    text-decoration: none;

    transition: 0.2s;
}

#authStatus {
    text-align: right; 
    margin-right: 10px; 
    font-size: 19px;
    font-weight: 390;
    color: #fff;
}

.nav__link:hover {
    transform: scale(1.05);
}

.url__link {
    padding: 7px 0;
    display: block;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: 0s;
}
.url__link:hover {
    transform: scale(1.05);
}

.url {
    position: absolute;
    top: 47px;
    left: 0;
    width: 150px;
    background-color: #818181;
    display: none;
    border-radius: 10px;
}   

.two_link {
    width: 100%;
}

._link:hover > .url{
    display: initial;
}

._link {
    position: relative;
    float: left;
}

.ikon {
  display: inline-block;
  margin: 0 7px;
  position: relative;
}