body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    -webkit-text-size-adjust: 100%; /* Предотвращает авто-масштабирование текста на iOS */
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
@media (max-width: 487px) {
    /* Header */
    .header {
        display: none;
        height: 58px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1000000000000000000000000000;
        background-color: #D1A49E;
        align-items: baseline;
    }

    .header_phone {
        display: block;
        height: 58px;
        width: 100%;
        position: fixed;
        z-index: 1;
        background-color: #D1A49E;
        align-items: baseline;
    }

    /*Container*/
    .container {
        width: 100%;
        height: 58px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__inner {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .header__logo {
        font-size: 26px;
        font-weight: 650;
        color: #fff;
        margin-right: 0;
        text-decoration: none;
    }

    /* Навигация */
    .nav {
        margin-top: 5px;
        font-size: 21px;
        font-weight: 410;
    }

    .nav__link {
        display: flex;
        vertical-align: bottom;
        margin: 19px 18px;

        color: #fff;
        text-decoration: none;

        transition: 0.2s;
    }

    .nav__link:hover {
        transform: scale(1.05);
    }

    .url__link {
        padding: 7px 0;
        display: block;
        margin: 0 15px;
        position: relative;

        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        transition: 0s;
    }
    .url__link:hover {
        transform: scale(1.05);
    }

    .url {
        position: absolute;
        top: 47px;
        left: 0;
        width: 150px;
        background-color: #D1A49E;
        display: none;
        border-radius: 10px;
    }   

    .two_link {
        width: 100%;
    }

    ._link:hover > .url{
        display: initial;
    }

    ._link {
        position: relative;
        float: left;
    }

    .ikon {
      display: inline-block;
      margin: 0 7px;
      position: relative;
    }
}
