body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    -webkit-text-size-adjust: 100%; /* Предотвращает авто-масштабирование текста на iOS */
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
@media (max-width: 767px) {
    /* Header */
    .header {
        display: none;
    }

    .header-phone {
        display: flex;
        height: auto;
        width: 100%;
        position: fixed;
        z-index: 1000;
        background-color: #818181;
        align-items: center;
    }

    .header__inner {
        padding: 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .header__logo {
        font-size: 26px;
        font-weight: 650;
        color: #fff;
        margin-right: 0;
        text-decoration: none;
    }

    /* Навигация */
    /* .nav {
        margin-top: 5px;
        font-size: 21px;
        font-weight: 410;
    } */

    .header__burger-btn {
        display: flex;
        vertical-align: bottom;
        font-size: 22px;
        color: #fff;
        text-decoration: none;

        transition: 0.2s;
    }

    .url {
        position: absolute;
        display: none;
        top: 50px;
        width: 100vw;
        height: calc(100dvh - 50px);
        background-color: #e6e6e6;
        border-radius: 0;
        padding: 14px;
        z-index: 100;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
    }   
    .url.active {
        display: flex;
    }

    .nav__link {
        display: flex;
        vertical-align: bottom;
        margin: 0;
        padding-bottom: 14px;

        font-size: 21px;
        font-weight: 410;
        color: #242424;
        text-decoration: none;

        transition: 0.2s;
    }

    .nav__link:hover {
        transform: scale(1.05);
    }

    .header-phone__social {
        display: flex;
        flex-direction: row;

        font-size: 21px;
        font-weight: 410;
        color: #242424;

        align-items: center;
        gap: 14px;
        padding-bottom: 10px;
    }

    .social__svg {

        width: 30px;
        height: 30px;
    }

    .authStatus-phone {
        font-size: 21px;
        font-weight: 410;
        color: black;
    }

    .url__link {
        padding: 7px 0;
        display: block;
        margin: 0 15px;
        position: relative;

        color: #242424;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        transition: 0s;
    }
    .url__link:hover {
        transform: scale(1.05);
    }

    .two_link {
        width: 100%;
    }

    /* ._link:hover > .url{
        display: initial;
    } */

    ._link {
        position: relative;
        float: left;
    }

    .header__ikons {
        display: flex;
        gap: 10px;
        flex-direction: row;
        align-items: center;
    }

    .ikon {
      margin: 0;
    }
}
