body{
  background: #ffffff;
  font-family: "Rubik", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#panel {
  margin: 0px 0px 0px 0px;
  float:justify;
  width: 100%;
  height: 40px;
  background:#D1A49E;
}

#TextPanel {
  margin:0px 0px 0px 0px;
  float:left;
  width: 220px;
  height: 40px;
  line-height:0px;
  text-align:center;
  background:#D1A49E;
}

a { text-decoration: none;
color:#FFFFFF; }

select {
  border: none;
  background-color:rgba(255,255,255,0);
  color:#FFFFFF;
  font-size:17px;
}

option{
  background:#CD853F;
}

.container_k {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 107vh;

  background: url("../images/фонrev2.png") center
  no-repeat;
  background-size: cover; /* размер одного повторяющегося изображения */
}

#panelWhite {
  width: 900px;
  height: 350px;
  left: 500px;
  border-radius: 10px;
  padding:20px;
  background: #F7F8FACC;
  display: inline-block;
  margin: 0 auto; 
}

#H2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 15px;
}

.butt p a {
  width: 226px;
  height: 46px;
}

#H21 {
  height: 1000px;
  margin: 10px auto;
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  width: 735px;
  height: 92px;
  top: 429px;
  left: 624px;
  margin-top: 25px;
}

button {
  width: 226px;
  height: 46px;
  top: 569px;
  left: 634px;
  border-radius: 4px;
  border: 0px;
  gap: 10px;
  background: #FF7A69;
  font-family: Rubik;
  font-size: 22px;
  color:#FFFFFF;
  margin-top: 25px;
}

.butt {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.anim {
  transition: 0.2s;
}
.anim:hover {
  transform: scale(1.05);
}


/*Каталог*/
.container_usl {
  width: 100%; 
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; 
  background-color: #f9f9f9;
}

#klaviatura {
  margin-top: 20px;
  width: 1340px;
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  align-items: center;
}

.filter {
  width: 1340px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#SM1 {
  text-align: center;
  display: inline;
  overflow: hidden;
  padding: 8px;
  float: left;
}
#SM2 {
  text-align: center;
  padding: 8px;
  font-size: 24px;
}
#SM3 {
  text-align: center;
  display: inline;
  padding: 8px;
}

.table-style {
  width: 1340px;
  height: 780px;
}

.row {
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cell {
  display: flex;
  align-items: center;
}

.product_card {
  width: 400px;
  display: flex;
  align-items:baseline;
}
.in_card {
  width: 400px;
  height: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
}
.in_card img {
  border-radius: 20px;
}
.in_card:hover {
  transform: scale(1.02);
}
.in_card1 {
  width: 400px;
  height: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
}
.in_card1 img {
  border-radius: 20px;
}
.in_card1:hover {
  transform: scale(1.01);
}

.brend {
  font-size: 20px;
  color: #000000;
}

.price {
  font-size: 19px;
  color: #FF7A69;
}
  
.button {
  width: 130px;
  height: 30px;
  font-family: Rubik;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid black;
  
  border-color: #272727;
  top: 50%;
  color: black;
  margin: 0 auto;
  background: transparent;
}

/*О нас*/
#contr {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  background-color: #efebeb; 
    
}
.pysto {
  width: 1200px;  
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto; 
}

#SM5 {
  width: 100%;
  text-align: left;
}
#SM5 h3 {
  font-size: 24px;
}

.about {
  margin-top: 15px;
  width: 1200px;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
}

.text_about {
  width: 750px;
  height: 300px;
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  justify-content: space-between;
}
  
.SM4 {
  height: 200px;
  display: flex;
  float: left; 
  flex-direction: column;
  justify-content: space-between;
}
.SM4 p {
  display: flex;
  padding: 6px 0;
  width: 750px;
  font-size: 19px;
  text-align: justify;
}

#SM6 {
  width: auto;
  text-align: center;
  display: inline;
  overflow: hidden;
  
  border-radius: 10% ;
  float: right; 
}

.butt1 {
  width: 650px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.photo {
  margin-top: 70px;
  width: 1150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.redact {
  border-radius: 20px;
}

@media (max-width: 767px) {
  body{
    background: #ffffff;
    font-family: "Rubik", sans-serif;
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  #panel {
    margin: 0px 0px 0px 0px;
    float:justify;
    width: 100%;
    height: 40px;
    background:#D1A49E;
  }
  
  #TextPanel {
    margin:0px 0px 0px 0px;
    float:left;
    width: 220px;
    height: 40px;
    line-height:0px;
    text-align:center;
    background:#D1A49E;
  }
  
  a { text-decoration: none;
  color:#FFFFFF; }
  
  select {
    border: none;
    background-color:rgba(255,255,255,0);
    color:#FFFFFF;
    font-size:17px;
  }
  
  option{
    background:#CD853F;
  }
  
  .container_k {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 107vh;
  
    background: url("../images/фонrev2.png") center
    no-repeat;
    background-size: cover; /* размер одного повторяющегося изображения */
  }
  
  #panelWhite {
    width: 350px;
    height: 500px;
    left: 500px;
    border-radius: 10px;
    padding:20px;
    background: #F7F8FACC;
    display: inline-block;
    margin: 0 auto; 
  }
  
  #H2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 15px;
  }
  
  .butt p a {
    width: 190px;
    height: 30px;
  }
  
  #H21 {
    height: 1000px;
    margin: 10px auto;
    font-size: 18px;
    font-weight: 380;
    line-height: 31px;
    text-align: center;
    width: 290px;
    height: 160px;
    top: 429px;
    left: 624px;
    margin-top: 25px;
  }
  
  button {
    width: 190px;
    height: 30px;
    top: 569px;
    left: 634px;
    border-radius: 4px;
    border: 0px;
    gap: 10px;
    background: #FF7A69;
    font-family: Rubik;
    font-size: 18px;
    color:#FFFFFF;
    margin-top: 25px;
  }
  
  .butt {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .anim {
    transition: 0.2s;
  }
  .anim:hover {
    transform: scale(1.05);
  }
  
  
  /*Каталог*/
  .container_usl {
    width: 100%; 
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; 
    background-color: #f9f9f9;
  }
  
  #klaviatura {
    margin-top: 20px;
    width: 800px;
    display: flex;
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
  }
  
  .filter {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #SM1 {
    text-align: center;
    display: inline;
    overflow: hidden;
    padding: 8px;
    float: left;
  }
  #SM2 {
    text-align: center;
    padding: 8px;
    font-size: 24px;
  }
  #SM3 {
    text-align: center;
    display: inline;
    padding: 8px;
  }
  
  .table-style {
    width: 800px;
    height: 500px;
  }

  .row {
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .cell {
    display: flex;
    align-items: center;
  }
  
  .product_card {
    width: 400px;
    display: flex;
    align-items:baseline;
  }
  .in_card {
    display: none;
    width: 400px;
    height: 355px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
  }
  .in_card img {
    border-radius: 20px;
  }
  .in_card:hover {
    transform: scale(1.02);
  }
  .in_card1 {
    width: 400px;
    height: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
  }
  .in_card1 img {
    border-radius: 20px;
  }
  .in_card1:hover {
    transform: scale(1.01);
  }
  
  .brend {
    font-size: 20px;
    color: #000000;
  }
  
  .price {
    font-size: 19px;
    color: #FF7A69;
  }
    
  .button {
    width: 130px;
    height: 30px;
    font-family: Rubik;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
    
    border-color: #272727;
    top: 50%;
    color: black;
    margin: 0 auto;
    background: transparent;
  }
  
  /*О нас*/
  #contr {
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    background-color: #efebeb; 
      
  }
  .pysto {
    width: 1200px;  
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto; 
  }
  
  #SM5 {
    width: 100%;
    text-align: left;
  }
  #SM5 h3 {
    font-size: 24px;
  }
  
  .about {
    margin-top: 15px;
    width: 1200px;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
  }
  
  .text_about {
    width: 750px;
    height: 300px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
    
  .SM4 {
    height: 200px;
    display: flex;
    float: left; 
    flex-direction: column;
    justify-content: space-between;
  }
  .SM4 p {
    display: flex;
    padding: 6px 0;
    width: 750px;
    font-size: 19px;
    text-align: justify;
  }
  
  #SM6 {
    width: auto;
    text-align: center;
    display: inline;
    overflow: hidden;
    
    border-radius: 10% ;
    float: right; 
  }
  
  .butt1 {
    width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .photo {
    margin-top: 70px;
    width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .redact {
    border-radius: 20px;
  }
}