.product-card {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: 0.2s;
}

.product-card__img {
    width: 100%;
    max-width: 370px;
    height: auto;
    aspect-ratio: 370 / 250;
    border-radius: 20px;
}

.product-card__name {
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 700;
    color: #000000;
}

.product-card__price {
    font-size: clamp(16px, 2vw, 19px);
    font-weight: 700;
    color: #FF7A69;
}

.product-card:hover {
    transform: scale(1.01);
}