body{
  background: #ffffff;
  font-family: "Rubik", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


#panel {
  margin: 0px 0px 0px 0px;
  float:justify;
  width: 100%;
  height: 40px;
  background:#D1A49E;
}

#TextPanel {
  margin:0px 0px 0px 0px;
  float:left;
  width: 220px;
  height: 40px;
  line-height:0px;
  text-align:center;
  background:#D1A49E;
}

a { text-decoration: none;
color:#FFFFFF; }

select {
  border: none;
  background-color:rgba(255,255,255,0);
  color:#FFFFFF;
  font-size: 17px;
}

option{
  background:#CD853F;
}

.container_k {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 107vh;

  background: url('../../images/фонrev2.png') center no-repeat;
  background-size: cover; /* размер одного повторяющегося изображения */
}

.welcome-banner {
  width: 900px;
  height: 350px;
  border-radius: 10px;
  padding: 20px;
  background: #F7F8FACC;
  display: inline-block;
  margin: 0 auto; 
}

.welcome-banner__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 15px;
}

.welcome-banner__description {
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  padding: 25px 30px;
}


.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  width: 226px;
  height: 46px;
  border-radius: 4px;
  background: #FF7A69;
  font-family: Rubik;
  font-size: 22px;
  color:#FFFFFF;
  
  transition: 0.2s;
}
.main-button:hover {
  transform: scale(1.05);
}

.welcome-banner__buttons {
  width: 100%;
  max-width: 650px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
}

/* .anim {
  width: 226px;
  height: 46px;
  top: 569px;
  left: 634px;
  border-radius: 4px;
  border: 0px;
  gap: 10px;
  background: #FF7A69;
  font-family: Rubik;
  font-size: 22px;
  color:#FFFFFF;
  margin-top: 25px;
  transition: 0.2s;
}
.anim:hover {
  transform: scale(1.05);
} */


/*Каталог*/
.container_usl {
  width: 100%; 
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; 
  background-color: #f9f9f9;
  /* background: url("../images/бумажный_фон.png") center; */
  background-size: cover;
}

.klaviatura {
  margin-top: 60px;
  width: 100%;
  max-width: 1340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter {
  width: 100%;
  max-width: 1340px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}

#SM2 {
  text-align: center;
  padding: 8px;
  font-size: 24px;
}

.product-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  gap: 50px 0;
}

/* .product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
} */

.filter-container {
  display: inline-block;
  position: relative;
}

.filter-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 205px;
  cursor: pointer;
  background-color: #f9f9f9;
  color: #000;
  border: 1px solid black;
  font-size: 16px;
  border-radius: 10px;
}

.filter-text {
  margin-right: 6px;
}

.filter-dropdown {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  z-index: 10;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.filter-dropdown.active {
  display: block;
}

.filter-option {
  padding: 10px;
  cursor: pointer;
}

.filter-option:hover {
  background-color: #e2e2e2;
}


/* .filter-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.filter-dropdown .filter-option {
  padding: 8px 16px;
  cursor: pointer;
}

.filter-dropdown .filter-option:hover {
  background-color: #aaaaaa;
} */

.row {
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cell {
  display: flex;
  align-items: center;
}

.product_card {
  width: 400px;
  display: flex;
  align-items:baseline;
}

.brend {
  font-size: 20px;
  color: #000000;
}

.price {
  font-size: 19px;
  color: #FF7A69;
}
  
/*.button {
  width: 130px;
  height: 30px;
  font-family: Rubik;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid black;
  
  border-color: #272727;
  top: 50%;
  color: black;
  margin: 0 auto;
  background: transparent;
}*/

/*О нас*/
.aboutus {
  background-color: #efebeb; 
  /* background: url("../images/бумажный_фон.png") center;   */
}

.aboutus__inner {  
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 1216px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
}

.aboutus__title {
  width: 100%;
  text-align: left;
  font-family: 'IBM Plex Sans';
  font-size: 24px;
}

.about {
  margin-top: 15px;
  width: 100%;
  max-width: 1140px;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
}

.text_about {
  width: min(100%, 750px);
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  align-self: stretch;
}
  
.SM4 {
  display: flex;
  float: left; 
  flex-direction: column;
  justify-content: space-between;
  padding-right: 16px;
}
.SM4 p {
  font-family: 'Source Code Pro';
  display: flex;
  padding: 6px 0;
  font-size: 19px;
  text-align: justify;
  text-wrap: wrap;
}

.butt1 {
  display: flex;
  gap: 60px;
}

.SM6 {
  width: auto;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  
  border-radius: 5% ;
}

.photo {
  margin-top: 70px;
  width: 1150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.redact {
  border-radius: 20px;
}